h1 {
    background: rgba(0, 128, 0, 0.3);
    border-style:solid;
    font-weight: bold;
    font-size: xx-large;
}

.button {
    background-color:red;
    color:blue;
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


